body {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Assistant, sans-serif;
    background-color: #222025;
    color: white;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  div {
    font-size: 48px;
  }
  .title {
    font-weight: bolder;
    padding-top: 40px;
  }
  #raffle {
  }
  .blur {
    filter: blur(6px);
  }
  .ended {
    animation: end-text 1s ease-in-out forwards;
  }
  @keyframes end-text {
    from {
      color: white;
      transform: scale(1);
    }
    to {
      color: #0bc36b;
      transform: scale(1.5);
    }
  }